@import url("/assets/css/_vars.css");

h1, h2 {
    font-family: 'Poppins', sans-serif; /* Use a bold, clean font for headings */
    letter-spacing: 0.03em; /* Add spacing between letters; scale with font size */
    color: var(--text);
    text-align: center;
    margin-top: 1.25rem;
}

p {
    font-size: 1rem; /* Slightly larger text for readability */
    line-height: 1.8;
    color: var(--text-muted); /* Softer color for text */
    text-align: left;
    margin: 0.625rem 1.25rem;
}

/* Limit white spans to the hero heading only */
.hero span {
    color: #fff !important;
}

a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
    color: var(--primary);
    }
}   