:root {
    --bg-dark: hsl(336 0% 1%);
    --bg: hsl(300 0% 4%);
    --bg-light: hsl(0 0% 9%);
    --text: hsl(300 0% 95%);
    --text-muted: hsl(300 0% 69%);
    --highlight: hsl(330 0% 39%);
    --border: hsl(0 0% 28%);
    --border-muted: hsl(300 0% 18%);
    --primary: hsl(220 78% 76%);
    --secondary: hsl(40 53% 60%);
}

body.light {
  --bg-dark: hsl(0 0% 96%);
  --bg: hsl(0 0% 100%);
  --bg-light: hsl(0 0% 98%);
  --text: hsl(230 15% 15%);
  --text-muted: hsl(230 10% 40%);
  --highlight: hsl(230 100% 97%);
  --border: hsl(230 20% 85%);
  --border-muted: hsl(230 20% 92%);
  --primary: hsl(220 80% 56%);
  --secondary: hsl(12 75% 54%);
}